* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}



form div {
  margin: 1em;
  display: inline-block;
}

/* NAVBAR */
.nav_main_container {
  display: flex;
  flex-flow: column;
}

.announcement_bar {
  min-height: 3.2rem;
  padding: 0.8rem 3rem;
  background: #598000;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: .25px;
  text-align: center;
  color: #f4f2f0;
}

.nav_top_banner_container p {
  margin: 0.25rem;
}

.nav_body_container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.nav_links_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_links_list {

  display: flex;
  flex-flow: row;
}

.nav_links_list li {
  list-style: none;
  align-items: center;
  display: flex;
  
}

nav a {
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: black;
  font-size: 1.2rem;
}

.nav_links_list li:hover {
  background-color: #598000;
}

.nav_logo_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.material-symbols-outlined {
  margin: 0.5rem
}

.nav_user_cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_logo_container {
  /* border: 1px solid black; */
}

.nav_logo_img {
  width: 10rem;
}

.material-symbols-outlined {
  font-size: larger;
}

/* BODY */

.body_header_container {
  text-align: center;
}

.body_header_big_text {
  font-size: 3.5rem;
  font-family: "Permanent Marker", cursive;
}

.body_header_small_ text {
  font-size: 1rem;
  width: 70%;
}

/* PRODUCTS */

.products_container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.single_product {
  height: 100%;
  width: 300px;
  border: 1px solid blue;
  padding: 1rem;
}

.product_img_container {
  width: 100%;
  height: 200px;
  margin: auto;
  overflow: hidden;
}

.product_img {
  width: 100%;
}

.product_add_to_cart_button {
  /* background-color: lightgreen; */
}

/* FOOTER */

.footer_container {
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer_logo_social_container {
  border: 1px solid black;
  width: 200px;
}

.footer_logo {
  width: 100px;
}

.footer_nav {
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  width: 200px;
}

.footer_nav ul {
  width: 100px;
}

.footer_nav li {
  border: 1px solid black;
  list-style: none;
}

.footer_contact {
  border: 1px solid black;
}

.footer_contact_input {
  border-radius: 15%;
}

.footer_contact_button {
  width: 100%;
  border-radius: 15%;
}

.footer_contact_header {
  font-family: "Pacifico", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* CART */
/* CART */
/* CART */
/* CART */
/* CART */
/* CART */
/* CART */
/* CART */
/* CART */

.cart_body_container {
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  width: 80%;
  margin-left: 10%;
  background-color: rgb(201, 201, 201);
  justify-content: center;
}

.cart_body_items_container {
  border: 1px solid black;
  width: 60%;
}

.cart_body_payment_container {
  border: 1px solid black;
  width: 40%;
}

.cart_items_heading {
  border: 1px solid black;
}

.cart_items_all_container {
  display: flex;
  flex-flow: column;
}

.cart_single_item {
  border: 1px solid blue;
  display: flex;
  flex-flow: row;
  margin: 1rem;
  background-color: white;
}

.cart_item_description {
  margin-left: 2rem;
}

.cart_payment_heading {
  border: 1px solid black;
}

.cart_payment_costs_container {
  display: flex;
  flex-flow: row;
}

.cart_payment_costs_labels {
  border: 1px solid black;
  list-style: none;
}

.cart_payment_costs_values {
  border: 1px solid black;
  list-style: none;
}

.cart_payment_checkout_btn {
  /* background-color: lightgreen; */
}