body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* MAIN PAGE COMPONENTS */
.footer {
  border: 3px solid black;
}

.footer_logo_social_container {
  border: 3px solid black;
}

.footer_nav {
  border: 3px solid black;
}

.footer_contact {
  border: 3px solid black;
}
